<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Voucher{% endtrans %}</title>
  <style media="screen">
  .rightJustified {
    text-align: right;
  }
  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead {
    overflow-y: scroll;
    height: 26px;
  }
  table.table-fixedheader>tfoot {

    height: 38px;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 80%;
  }

  th {
    font-size: 75%;
  }
  .nopadding {
  	 padding: 0 !important;
  	 margin: 0 !important;
  }
  #narration {
    max-height: 90px;
  }
  
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Voucher saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="account-blank-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Please select an account!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="failure-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Voucher could not be saved. {% endtrans %}
    </div>
    <div class="alert alert-danger" id="balance-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Totals misbalance!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="invoicebalance-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Voucher total cannot be greater than Invoice total!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="zero-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Voucher amount cannot be zero!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="zerorow-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Voucher with zero amount cannot be saved!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="accs-alert" aria-live="rude" role="alert" hidden>

      {% trans %}An account can be selected only once!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="vno-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Please enter voucher number!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Please enter voucher date in proper format!{% endtrans %}
    </div>
    <div class="alert alert-warning nopadding" id="postdate-alert" aria-live="rude" role="alert" hidden>
      <strong>{% trans %}You are entering a post-dated transaction!{% endtrans %}</strong>
    </div>
    <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Please enter voucher date from within the financial year!{% endtrans %}
    </div>

    <div class="alert alert-danger" id="inv-date-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Transaction date cannot be prior to Invoice date!{% endtrans %}
    </div>


    <form id="voucher" name="voucher">
      <div class="form-inline well well-sm  " style="margin:0 !important;" >

        <div class="form-group">
          <label for="vno">{% trans %}<u>V</u>oucher No.{% endtrans %} :</label><label for="vno" style="color:red;font-size: 120%;">*</label>
          <input type="text" class="form-control input-sm" value="{{lastdetails['vno']}}" name="vno" id="vno" size="10" accesskey="v">
        </div>
        <div class="form-group col-xs-offset-4">
          {% if vtype=="contra" %}
          <label><i>{% trans %}Contra{% endtrans %}</i></label>
          {% elif vtype == "payment" %}
          <label><i>{% trans %}Payment{% endtrans %}</i></label>
          {% elif vtype == "receipt" %}
          <label><i>{% trans %}Receipt{% endtrans %}</i></label>
          {% elif vtype == "journal" %}
          <label><i>{% trans %}Journal{% endtrans %}</i></label>
          {% elif vtype == "sales" %}
          <label><i>{% trans %}Sales{% endtrans %}</i></label>
          {% elif vtype == "purchase" %}
          <label><i>{% trans %}Purchase{% endtrans %}</i></label>
          {% elif vtype == "creditnote" %}
          <label><i>{% trans %}Credit Note{% endtrans %}</i></label>
          {% elif vtype == "debitnote" %}
          <label><i>{% trans %}Debit Note{% endtrans %}</i></label>
          {% elif vtype == "salesreturn" %}
          <label><i>{% trans %}Sale Return{% endtrans %}</i></label>
          {% elif vtype == "purchasereturn" %}
          <label><i>{% trans %}Purchase Return{% endtrans %}</i></label>
          {% endif %}
        </div>
        <div class="pull-right form-group">
          <label for="vdate">{% trans %}<u>D</u>ate{% endtrans %} :</label>
          <input type="text" class="vdate form-control input-sm" id="vdate" value="{{lastdetails['vdate'][0:2]}}" size="2" maxlength="2" placeholder="DD" accesskey="d">
          <input type="text" id="vmonth" class="vdate form-control input-sm" value="{{lastdetails['vdate'][3:5]}}" size="2" maxlength="2" placeholder="MM">
          <input type="text" id="vyear" class="vdate form-control input-sm" value="{{lastdetails['vdate'][6:]}}" size="4" maxlength="4" placeholder="YYYY">
        <i class="fa fa-question-circle pull-right" style="font-size:16px;color:black;"data-toggle="modal" data-target="#vchModal"></i>
        </div>

      </div>
      {% if invoicedata!=0 %}
      {% if invoicecount!=0 %}
      <div class="form-inline well well-sm invhide">
        <div class="form-group ">
<input id="invhide" value="1" hidden="">
          <label for="invsel">{% trans %}Select Invoice {% endtrans %} :</label>
          <select id="invsel" class="form-control input-sm invoice_no" >
            <option value="" selected total="">{% trans %}None{% endtrans %}</option>
            {% for invoice in invoicedata %}
            {% if vtype == "purchase" and invoice["csflag"]|int == 19 %}
              <option value="{{invoice['invid']}}" total="{{invoice['invoicetotal']}}" customername="{{invoice["custname"]}}" invdate={{invoice["invoicedate"]}} >{{invoice["invoiceno"]}}, {{invoice["invoicedate"]}}, {{invoice["custname"]}}</option>
            {% elif vtype == "sales" and invoice["csflag"]|int == 3 %}
              <option value="{{invoice['invid']}}" total="{{invoice['invoicetotal']}}" customername="{{invoice["custname"]}}" invdate={{invoice["invoicedate"]}}>{{invoice["invoiceno"]}}, {{invoice["invoicedate"]}}, {{invoice["custname"]}}</option>
            {% endif %}
            {% endfor %}

          </select>
        </div>
        <div class="form-group pull-right" >
          <label for="invtotal">{% trans %}Total Invoice Amount {% endtrans %} :</label>
          <input type="text" id="invtotal" class="form-control input-sm" value="0.00" placeholder="" disabled>
        </div>
      </div>
      {% else %}
      <input id="invhide" value="0" hidden="">
      {% endif %}
      {% endif %}
      <div class="panel flow shadow ">
        <div class="table-responsive">
          <table id="vtable" class="table table-condensed table-fixedheader">
            <thead class="bg-primary">
              <tr>
                <th class="col-xs-1">
                  {% trans %}Cr/Dr{% endtrans %}
                </th>
                <th class="col-xs-4">
                  {% trans %}Account Name{% endtrans %}
                </th>
                <th class="col-xs-2 rightJustified">
                  {% trans %}Balance{% endtrans %}
                </th>
                <th class="col-xs-2 rightJustified">
                  {% trans %}Dr Amount{% endtrans %}
                </th>
                <th class="col-xs-2 rightJustified">
                  {% trans %}Cr Amount{% endtrans %}
                </th>
                <th class="col-xs-1">
                  {% trans %}Remove{% endtrans %}
                </th>
              </tr>
            </thead>
            {% if invoicedata!= 0 %}
            <tbody style="height: 20%;">
            {% else %}
            <tbody style="height: 45%;">
            {% endif %}
              <tr>
                <td class="col-xs-1">
                  <select class="form-control input-sm crdr" disabled>
                    <option value="Dr" selected>{% trans %}Dr{% endtrans %}</option>
                    <option value="Cr">{% trans %}Cr{% endtrans %}</option>
                  </select>
                </td>
                <td class="col-xs-4">
                  <select class="form-control input-sm accs">
                    {% for acc in draccounts %}
                    <option value="{{acc['accountcode']}}">{{acc['accountname']}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="col-xs-2">
                  <input class="form-control input-sm clbal rightJustified" type="text" value="0.00" disabled>
                </td>
                <td class="col-xs-2">
                  <input class="form-control input-sm dramt rightJustified" type="text" value="0.00">
                </td>
                <td class="col-xs-2">
                  <input class="form-control input-sm cramt rightJustified" type="text" value="" disabled>
                </td>
                <td class="col-xs-1">

                </td>
              </tr>
              <tr>
                <td class="col-xs-1">
                  <select class="form-control input-sm crdr" disabled>
                    <option value="Cr" selected>{% trans %}Cr{% endtrans %}</option>
                    <option value="Dr">{% trans %}Dr{% endtrans %}</option>
                  </select>
                </td>
                <td class="col-xs-4">
                  <select class="form-control input-sm accs">
                    {% for acc in craccounts %}
                    <option value="{{acc['accountcode']}}">{{acc['accountname']}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="col-xs-2">
                  <input class="form-control input-sm clbal rightJustified" type="text" value="0.00" disabled>
                </td>
                <td class="col-xs-2">
                  <input class="form-control input-sm dramt rightJustified" type="text" value="" disabled>
                </td>
                <td class="col-xs-2">
                  <input class="form-control input-sm cramt rightJustified" type="text" value="0.00">
                </td>
                <td class="col-xs-1">

                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="col-xs-5" colspan="2">
                  <input type="text" class="form-control input-sm" value="Total" disabled>
                </td>
                <td class="col-xs-3">
                  <input id="drtotal" class="form-control input-sm rightJustified" type="text" value="0.00" disabled>
                </td>
                <td class="col-xs-3">
                  <input id="crtotal" class="form-control input-sm rightJustified" type="text" value="0.00" disabled>
                </td>
                <td class="col-xs-1">

                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group col-md-6 pull-right">
      {% if  projects %}
          <label for="project">{% trans %}Pro<u>j</u>ect{% endtrans %} :</label>
            <div class="form-group">

          <select class="form-control input-sm" id="project" accesskey="j">
            <option value="">{% trans %}None{% endtrans %}</option>
            {% for project in projects %}
            <option value="{{project['projectcode']}}">{{project['projectname']}}</option>
            {% endfor %}}
          </select>
        </div>
      {% endif %}
          <div class="form-inline" >
              <button type="button" id="save" name="submit" class="btn btn-success" accesskey="s">
                {% trans %}<u>S</u>ave{% endtrans %}
              </button>
            <div class="form-group">
              <button type="button" id="reset" class="btn btn-danger" accesskey="e">
                {% trans %}R<u>e</u>set{% endtrans %}
              </button>
            </div>
            <div class="form-group">
              <button type="button" id="popup" class="btn btn-primary" accesskey="o">
                {% trans %}Add Acc<u>o</u>unt{% endtrans %}
              </button>
            </div>
                  <label class="btn btn-primary" for="my-file-selector">
                    <input name="img" accesskey="h" class="input-sm" id="my-file-selector" type="file" accept="image/*" multiple style="display:none;" onchange="$('#upload-file-info').html(this.files.length+' selected');">
                    {% trans %}Attac<u>h</u>{% endtrans %}
                  </label>
                 
                  <span class='label label-info' id="upload-file-info"></span>

            </div>
        </div>
          <div class="form-group pull-left col-md-6">
            <label for="narration">{% trans %}Narra<u>t</u>ion{% endtrans %} :</label>
            <textarea class="form-control" name="narration" id="narration" rows="3" cols="70" accesskey="t"></textarea>
          </div>

      </div>
      <input type="hidden" id="vtype" name="vtype" value="{{vtype}}">
    </form>

    </div>
  </div>
   <div id="vchModal"  tabindex="-1" class="modal fade" role="dialog"style=" margin-top: 50px; margin-left:100px;"  aria-hidden="true">
  <div class="modal-dialog bgcolor " >
    <div class="modal-content ">
    <div class="modal-header">
      {% trans %}<strong>Help!</strong>{% endtrans %}
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
       
       <p>   <font color=" #566573"> {%trans%}
Book Keeping is recording of transactions. Since transactions are of different kinds, GNUKhata has a voucher type for recording every kind of transaction.
The Voucher Types are given below.</br>
<b>Receipt</b></br> 
Used for recording amounts received by cash or cheque or through NEFT.
Accounts from the Sub-Groups Cash and Bank of the Group Current Assets can only be debited and cannot be credited.</br>
Payment 
Used for recording payments made by cash or cheque or through NEFT.
Accounts from the Sub-Groups Cash and Bank of the Group Current Assets can only be credited and cannot be debited.
</br>
<b>Sale </b></br>
Used for recording sale of raw materials, semi-finished goods or finished goods or services.
Accounts from the Sub-Groups Sundry Debtors, Cash and Bank of the Group Current Assets can only be debited and accounts from the Group Direct Income, Indirect Income and Current Liabilities can only be credited.
</br>
<b>Purchase </b></br>
Used for recording purchase of raw materials, semi-finished goods or finished goods.
Accounts from the Groups Direct Expense, Indirect Expense and Current Liabilities can only be debited. Accounts from the Sub-Groups Cash and Bank of the Group Current Assets and from the Sub-Group Creditors for Purchase of the Group Current Liabilities can only be credited. 
</br>
<b>Contra </b></br>
Used for recording deposits or withdrawals of cash from bank or transfer of funds from one bank account to another.
Only accounts from the Sub-Groups Cash and Bank of the Group Current Assets can be debited and credited.
<br>
<b>Journal</b></br>
Used for recording rectification entries, transfer of amounts from one account to another, adjustment entries, recording discount received and given, purchase or sale of asset.
Accounts from the Sub-Groups Cash and Bank of the Group Current Assets cannot be debited or credited.
<br>
<b>Sale Return </b></br>
Used for recording return of goods by a customer by crediting his account.
Accounts from the Group Direct Income and Current Liabilities can only be debited and accounts from the SubGroup Sundry Debtors of the Group Current Assets can only be credited.
<br>
<b>Purchase Return </b></br>
Used for recording return of goods to a supplier by debiting his account.
Accounts from the Sub Group Sundry Creditors for Purchase of the Group Current Liabilities can only be debited and accounts from the Group Direct Expense, Indirect Expense can only be credited.
<br>
<b>Credit Note</b></br>
Used for recording reduction in the price charged to a customer (without return of goods). 
The accounts that can be debited and credited are similar to those of Sales Return. 
<br>
<b>Debit Note </b></br>
Used for recording reduction in the price charged by a supplier (without return of goods).
The accounts that can be debited and credited are similar to those of Purchase Return voucher.
</br>In case of Sale Return, Purchase Return, Debit Note and Credit Note types of vouchers, accounts from the Sub-Groups Cash and Bank of the Group Current Assets cannot be debited and credited.
<br></br>
The user interface for all types of vouchers is the same.
Whatever the type of a voucher be, in voucher entry Debit entry is to be recorded first then the Credit entry. There after any number of Debit and or Credit entries can be recorded. 
A cross sign will appear in each row in the Remove Column from the third row onwards. Click on the cross sign to delete an unwanted row.
Project / Cost Center, Document Attachment and Narration fields are optional.
A voucher can be saved only if the total of the Debit amounts and the total of the Credit amounts are the same.
The field Balance displays the balance of the account selected as on the date of voucher.
{% endtrans %} </font>

        </p>
      </div>
      
    </div>
  </div>
</div>
	
  <input type="hidden" id="selpopupaccount" value="">
  <div id="viewacc">

  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addvoucher.js')}}"></script>
</body>
</html>
